@model SimpleBlog.Models.PostsListViewModel

<div class="latest-posts-widget">
    <h3>Latest posts: </h3>
    <ul class="latest-posts-list">
        @if (Model.Posts.Count > 0)
        {
            foreach (var post in Model.Posts)
            {
                <li>@Html.ActionLink(post.Title, "Post", "Blog", new
                                                                     {
                                                                         year = post.PostedOn.Year,
                                                                         month = post.PostedOn.Month,
                                                                         day = post.PostedOn.Day,
                                                                         title = post.UrlSlug
                                                                     }, null)
                </li>
            }
        }
        else
        {
            <p>No posts found!</p>
        }
    </ul>
</div>
