@model SimpleBlog.Models.PostsListViewModel

<h1>@Model.Title</h1>

@if (Model.Posts.Count > 0)
{
    foreach (var post in Model.Posts)
    {
    @Html.Partial("_PostTemplate", post)
    }
}
else
{
    <p>No posts found!</p>
}

@if (Model.TotalPosts > Model.PageSize)
{
    <div class="pagination">
        Page:
        @Html.PaginationForModel(Model)
    </div>
}